.box-header{:style => "text-align: center; position: relative;"}
  =Time.now.strftime('%B')
  .calendartype{:style => "position: absolute; right: 15px; top: 10px; float: right"}
    .roundtab.list &nbsp;List&nbsp;
    .roundtab.month Month
    .roundtab.week.toggled Week
-@events = events_by_visible_month(@events, Time.now)
.box{:style => "padding: 0 0 15px 2%"}
  .month-calendar{:style => "display: none;"}
    .header-cell Mon
    .header-cell Tues
    .header-cell Wed
    .header-cell Thurs
    .header-cell Fri
    .header-cell Sat
    .header-cell Sun
    -start_date = Time.now.beginning_of_month.beginning_of_week
    -35.times do |i|
      -day = start_date + i.days
      -format = (day.mon == Time.now.mon ? (day == Time.now.midnight ? "today" : "") : "lighter")
      -format += " ul" if i == 0
      -format += " ur" if i == 6
      -format += " lr" if i == 34
      -format += " ll" if i == 28
      
      .cell{:class => format}
        .number= day.day
        -@events.find_all{|e| Time.at(e.date).midnight == day}.each do |event|
          %a.event{:href => "/event/#{event.permalink}"}
            %div{:style => "color: #05C; font-weight: bold; width: 27px; display: inline-block;"}= Time.at(event.date).strftime("%l%p").downcase
            = event.name
          %br
        %a{:href => "/new-event?calendar_id=#{@calendar.id}&day=#{day.to_i}", :style => "position: absolute; display: block; width: 100%; height: 100%;"}
        
  .week-calendar{:style => "display: block;"}
    -start_date = Time.now.beginning_of_week
    .scroll-width{:style => "margin-right: 15px; padding: 0"}
      .header-cell{:style => "width: 5%"}
      -7.times do |i|
        .header-cell.week{:style => "height: 25px"}= (start_date + i.days).strftime("%A <br/> %b %e")
    
    .week-scroller{:style => "height: 400px; overflow: auto; width: 100%; margin: 0; padding: 10px 0"}
      -events_this_week = events_by_week(@events, Time.now)    
      .cell.week{:style => "width: 5.2%; background: none;"}
        -24.times do |hour|
          .time-period.label{:class => ("last" if hour == 23)}
            %div{:style => "font-size: 1.2em; width: 90%; text-align: right; margin: 5px 0 0 0"}= (start_date + hour.hours).strftime("%l%p").downcase
          
      -7.times do |i|
        -day = start_date + i.days
        -format = (day.mon == Time.now.mon ? (day == Time.now.midnight ? "today" : "") : "lighter")
        -format += " ul ll" if i == 0
        -format += " ur lr" if i == 6
        -events_today = events_this_week.find_all{|e| Time.at(e.date).midnight == day}
        .cell.week{:class => format}
          -24.times do |hour|
            .time-period{:class => ("last" if hour == 23)}
              -events_today.find_all{|e| Time.at(e.date).hour == hour}.each do |event|
                %a.event{:href => "/event/#{event.permalink}"}
                  = event.name
                %br
  .list-calendar{:style => "display: none; padding: 10px;"}
    -if @events.empty?
      %p
        No Events.
    -else
      -@events.each do |event|
        %p
          %b= Time.at(event.date).strftime("%b %d")
          %a{:href => "/event/#{event.permalink}"}
            = event.name
    %a{:href => "/new-event?calendar_id=#{@calendar.id}", :style => "display: block; margin-top: 20px;"}
      .awesome.green.medium New Event
  %br.cl
  
:javascript
  $(document).ready(function(){
    $(".roundtab").click(function(){
      tab = $(this);
      $(".roundtab").removeClass("toggled");
      tab.addClass("toggled");
      if (tab.hasClass("month")){
        $(".week-calendar").hide();
        $(".list-calendar").hide();
        $(".month-calendar").show();
      } else if (tab.hasClass("week")) {
        $(".month-calendar").hide();
        $(".list-calendar").hide();
        $(".week-calendar").show();
      } else {
        $(".month-calendar").hide();
        $(".week-calendar").hide();
        $(".list-calendar").show();
      }
    });
  });