.box-header{:style => "text-align: center; position: relative;"}
  =Time.now.strftime('%B')
  .calendartype{:style => "position: absolute; right: 15px; top: 10px; float: right"}
    .roundtab.list.toggled &nbsp;List&nbsp;
    .roundtab.month Month
    .roundtab.week Week
-@events = events_from_visible_month(@events, Time.now)
.box{:style => "padding: 0 0 0 0"}
  .month-calendar{:style => "display: none; padding-left: 2%;"}
    .header-cell Mon
    .header-cell Tues
    .header-cell Wed
    .header-cell Thurs
    .header-cell Fri
    .header-cell Sat
    .header-cell Sun
    -start_date = Time.now.beginning_of_month.beginning_of_week
    -35.times do |i|
      -day = start_date + i.days
      -format = (day.mon == Time.now.mon ? (day == Time.now.midnight ? "today" : "") : "lighter")
      -format += " ul" if i == 0
      -format += " ur" if i == 6
      -format += " lr" if i == 34
      -format += " ll" if i == 28
      
      .cell{:class => format}
        .number= day.day
        -@events.find_all{|e| Time.at(e.date).midnight == day}.each do |event|
          .event-time= Time.at(event.date).strftime("%l%p").downcase
          %a.event{:href => "/event/#{event.permalink}"}= event.name
          %br
        %a{:href => "/new-event?calendar_id=#{@calendar.id}&day=#{day.to_i}", :style => "position: absolute; display: block; width: 100%; height: 100%;"}
    %br.cl
  .week-calendar{:style => "display: none;"}
    -start_date = Time.now.beginning_of_week
    .scroll-width{:style => "margin-right: 15px; padding: 0"}
      .header-cell{:style => "width: 5%"}
      -7.times do |i|
        .header-cell.week{:style => "height: 35px; border-bottom: 3px solid #aaa; margin-bottom: 0;"}= (start_date + i.days).strftime("%A <br/> %b %e")
    
    .week-scroller{:style => "height: 365px; overflow: auto; width: 100%; margin: 0; padding: 0"}
      -events_this_week = events_from_week(@events, Time.now)    
      .week-column{:style => "width: 5%; background: none;"}
        -24.times do |hour|
          .time-period.label{:class => ("last" if hour == 23)}
            %div{:style => "font-size: 1.1em; text-align: center; margin: 8px 0 0 0"}= (start_date + hour.hours).strftime("%l %p").downcase
          
      -7.times do |i|
        -day = start_date + i.days
        -format = ""
        -format += " ul ll" if i == 0
        -format += " ur lr" if i == 6
        -events_today = events_this_week.find_all{|e| Time.at(e.date).midnight == day}
        .week-column{:class => format}
          -24.times do |hour|
            -events_this_hour = events_today.find_all{|e| Time.at(e.date).hour == hour}
            .time-period{:class => (events_this_hour.empty? ? "" : "occupied") + (hour == 23 ? " last" : "") + (hour == 0 ? " first" : "")}
              -events_this_hour.each do |event|
                %a.event{:href => "/event/#{event.permalink}"}
                  = event.name
                %br
              %a{:href => "/new-event?calendar_id=#{@calendar.id}&day=#{day.to_i}&hour=#{hour.to_i}", :style => "position: absolute; display: block; width: 100%; height: 100%;"}
              
  .list-calendar{:style => "display: block; padding: 10px; background: #fff; -webkit-column-width: 140px; -webkit-column-gap: 5px;-moz-column-width: 140px; -moz-column-gap: 5px; min-height: 220px"}
    -if @events.empty?
      %p
        No Events.
    -else
      -events_by_day(@events).sort.each do |date, events|
        .calendar-page{:style => "display: inline-block; width: 139px; margin: 5px;"}
          .date{:style => "background: #FF2700; color: white; font-size: 1.5em; text-align: center; border-radius: 8px 8px 0 0; border: 4px solid #cc1700; border-bottom: none;"}
            %b= Time.at(date).strftime("%b %d")
          .event-info{:style => "border: 4px solid #ccc; border-top: none; padding: 5px; border-radius: 0 0 8px 8px; background: #fff;"}
            -events.each do |event|
              %div
                %div{:style => 'display: inline-block; width: 30px'}= Time.at(event.date).strftime("%l%p").downcase
                %a{:href => "/event/#{event.permalink}"}
                  = event.name
    -#%a{:href => "/new-event?calendar_id=#{@calendar.id}", :style => "margin: auto 15px;"}
      -#.awesome.red.large New Event
  %br.cl
  
:javascript
  $(document).ready(function(){
    $(".roundtab").click(function(){
      tab = $(this);
      $(".roundtab").removeClass("toggled");
      tab.addClass("toggled");
      if (tab.hasClass("month")){
        $(".week-calendar").hide();
        $(".list-calendar").hide();
        $(".month-calendar").show();
      } else if (tab.hasClass("week")) {
        $(".month-calendar").hide();
        $(".list-calendar").hide();
        $(".week-calendar").show();
        $(".week-scroller").attr("scrollTop",370);
      } else {
        $(".month-calendar").hide();
        $(".week-calendar").hide();
        $(".list-calendar").show();
      }
    });
    $(".week-scroller").attr("scrollTop",370);
  });