#page-header
  %h1
    = @course.name
    -unless @course.user_ids.include?(@user.id)
      %a.awesome.blue.medium{:href => "#{@course.permalink}/join", :style => 'vertical-align: text-top; font-size: 0.8em; margin-left: 20px;'}
        %img{:src => "/img/icons/small/add.png", :style => "padding: 0; height: 16px; width: 16px; position: relative; top: 1px;"}
        Join Course
.container_12
  .grid_3
    .box-header Events
    .box
      -if @course.events.empty?
        %p
          No Events.
      -else
        -@course.events.each do |event|
          %b= Time.parse(event.date).strftime("%b %d")
          %a{:href => "/event/#{event.permalink}"}
            = event.name
      %a{:href => "/new-event?tag=#{@course.permalink}", :style => "display: block; margin-top: 20px;"}
        .awesome.blue.medium New Event
        
  .grid_9
    .box-header{:style => "text-align: center"}
      November
    .box{:style => "padding: 0 0 15px 2%"}
      .header-cell Sun
      .header-cell Mon
      .header-cell Tues
      .header-cell Wed
      .header-cell Thurs
      .header-cell Fri
      .header-cell Sat
      -day = Time.parse(Time.now.mon.to_s + "/" + Time.now.year.to_s) + 60*60*2 #add two hours to safeguard against daylight savings time
      -day -= (day.wday + 1) * (60*60*24)
      -events = @course.events
      -35.times do |i|
        -day += 60*60*24
        -course = (day.mon == Time.now.mon ? (day.yday == Time.now.yday ? "today" : "") : "lighter")
        -course += " ul" if i == 0
        -course += " ur" if i == 6
        -course += " lr" if i == 34
        -course += " ll" if i == 28
        
        .cell{:class => course}
          .number= day.day
          -events.find_all{|e| Time.parse(e.date).year == day.year && Time.parse(e.date).yday == day.yday}.each do |event|
            %a.event{:href => "/event/#{event.permalink}"}= event.name
      
      %br.cl

  .grid_9
    .box-header Discussions
    .box
      -if @course.discussions.empty?
        %p
          No discussions yet. 
      -else
        -@course.discussions.reverse.each do |topic|
          .container_12
            .grid_12
              .box-header
                %a.name{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold'}= topic.title
                %span{:style => "margin-left: 10px;"}
                  %a.name{:href => "/user/#{topic.creator.permalink}"}= topic.creator.name
                  %small= topic.time_since

              .box          
                .colored-box.brown.head
                  = topic.content
                %a{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold;'} View Discussion
                
                
      %a{:href => "/new-discussion?tag=#{@course.permalink}", :style => "display: block; margin-top: 20px;"}
        .awesome.blue.medium New Discussion
      %br.cl
  .grid_3
    .box-header Members
    .box
      -@course.members.each do |user|
        %p
          %a{:href => "/user/#{user.permalink}"}= user.name
  %br.cl