/ Start Page Header
#page-header
  %h1= @course.name
/ End Page Header
/ Start Grid
.container_12
  / Start Web Stats
  .grid_5
    .box-header Discussions
    .box
      -if @course.discussions.empty?
        %p
          No discussions yet. 
          %a{:href => "/new-discussion?tag=#{@course.abbreviation}"} Create one.
      -else
        -@course.discussions.each do |topic|
          %p
            = topic.title
      %br.cl/
  .grid_5
    .box-header Events
    .box
      -if @course.events.empty?
        %p
          No Events.
          %a{:href => "/course/#{@course.permalink}/new-event"} Add one.
      %p I need a cool calendar
  .grid_2
    .box-header Members
    .box
      -@course.members.each do |user|
        %p
          %a{:href => "/user/#{user.permalink}"}= user.name
    
      
  %br.cl/