.container_12
  -unless @course.user_ids.include?(@user.id)
    %a.awesome.blue.medium{:href => "#{@course.permalink}/join", :style => 'vertical-align: text-top; font-size: 0.8em; margin-left: 20px;'}
      %img{:src => "/img/icons/small/add.png", :style => "padding: 0; height: 16px; width: 16px; position: relative; top: 1px;"}
      Join
  .grid_12
    -@calendar = Calendar.get(@course.calendar_id)
    -@events = @course.events
    = haml :calendar, :layout => false
    %br.cl

  .grid_9
    .box-header Discussions
    .box
      -if @course.discussions.empty?
        %p
          No discussions yet. 
      -else
        -@course.discussions.reverse.each do |topic|
          .container_12
            .grid_12
              .box-header
                %a.name{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold'}= topic.title
                %span{:style => "margin-left: 10px;"}
                  %a.name{:href => "/user/#{topic.creator.permalink}"}= topic.creator.name
                  %small= topic.time_since

              .box          
                .colored-box.brown.head
                  = topic.content
                %a{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold;'} View Discussion
                
                
      %a{:href => "/new-discussion?tag=#{@course.permalink}", :style => "display: block; margin-top: 20px;"}
        .awesome.blue.medium New Discussion
      %br.cl
  .grid_3
    .box-header Members
    .box
      -@course.members.each do |user|
        %p
          %a{:href => "/user/#{user.permalink}"}= user.name
  %br.cl
