#page-header
  %h1= @course.name
.container_12
  .grid_9
    .box-header Events
    .box
      -if @course.events.empty?
        %p
          No Events.
          %a{:href => "/new-event?tag=#{@course.permalink}"} Add one.
      %p I need a cool calendar
  .grid_3
    .box-header Members
    .box
      -@course.members.each do |user|
        %p
          %a{:href => "/user/#{user.permalink}"}= user.name
  .grid_12
    .box-header Discussions
    .box
      -if @course.discussions.empty?
        %p
          No discussions yet. 
          %a{:href => "/new-discussion?tag=#{@course.permalink}"} Create one.
      -else
        -@course.discussions.each do |topic|
          %p
            = topic.title
      %br.cl
  %br.cl