#page-header
  %h1
    = @course.name
    -unless @course.user_ids.include?(@user.id)
      %a.awesome.blue.medium{:href => "#{@course.permalink}/join", :style => 'vertical-align: text-top; font-size: 0.8em; margin-left: 20px;'}
        %img{:src => "/img/icons/small/add.png", :style => "padding: 0; height: 16px; width: 16px; position: relative; top: 1px;"}
        Join Course
.container_12
  .grid_3
    .box-header Events
    .box
      -if @course.events.empty?
        %p
          No Events.
          %a{:href => "/new-event?tag=#{@course.permalink}"} Add one.
      -else
        -@course.events.each do |event|
          = Time.parse(event.date).strftime("%b %d")
          %a{:href => "/event/#{event.permalink}"}
            = event.name
  .grid_9
    .box-header{:style => "text-align: center"}
      November
    .box{:style => "padding: 0 0 5px 1%"}
      .header-cell Sunday
      .header-cell Monday
      .header-cell Tuesday
      .header-cell Wednesday
      .header-cell Thursday
      .header-cell Friday
      .header-cell Saturday
      
      -day = Time.parse(Time.now.mon.to_s + "/" + Time.now.year.to_s) + 60*60*2 #add two hours to safeguard against daylight savings time
      -day -= (day.wday + 1) * (60*60*24)
      
      -events = @course.events
      
      -35.times do |i|
        -day += 60*60*24
        .cell{:class => (day.mon == Time.now.mon ? "" : "lighter")}
          .number= day.day
          -events.find_all{|e| Time.parse(e.date).year == day.year && Time.parse(e.date).yday == day.yday}.each do |event|
            %p
              %a{:href => "/event/#{event.permalink}", :style => "position: relative; top: 8px; left: 5px; color: #eee; font-weight: bold;"}= event.name
      %br.cl

  .grid_9
    .box-header Discussions
    .box
      -if @course.discussions.empty?
        %p
          No discussions yet. 
          %a{:href => "/new-discussion?tag=#{@course.permalink}"} Create one.
      -else
        -@course.discussions.each do |topic|
          %p
            = topic.title
      %br.cl
  .grid_3
    .box-header Members
    .box
      -@course.members.each do |user|
        %p
          %a{:href => "/user/#{user.permalink}"}= user.name
  %br.cl