#page-header
  %h1 Discussion
.container_12
  .grid_12
    .box-header
      %b= @topic.title
      %span{:style => "margin-left: 10px; "}
        %a.name{:href => "/user/#{@topic.creator.permalink}"}= @topic.creator.name
        %small= @topic.time_since
      -@topic.tags.each do |tag|  
        .badge.blue= tag
      
        
    .box          
      .colored-box.brown.head
        = @topic.content
        %a{:href => "/reply/#{@topic.id}", :style => "float: right; position: relative; top: -2px; right: 15px;"}
          .awesome.blue.medium Reply
      -@topic.children.each do |@post|
        = haml :post

      
      
%br.cl