#page-header
  %h1 Discussion
.container_12
  .grid_12
    .box-header
      %b= @topic.title
      %span{:style => "margin-left: 10px; "}
        %a.name{:href => "/user/#{@topic.creator.permalink}"}= @topic.creator.name
        %small= @topic.time_since
      -@topic.tags.each do |tag|  
        .badge.blue= tag
      
    .box
      .colored-box.brown.head{:id => @topic.id}
        = @topic.content
      %form.indent.response.colored-box.yellow{:autocomplete => "off", :style => "display: none;", :id => "r" + @topic.id}
        %input{:type => "hidden", :name => 'parent_id', :value => @topic.id}
        %textarea.content{:style => "width: 70%; height: 75px", :name => 'content'}
        %br
        %input.awesome.blue.medium.reply{:type => "submit", :value => "Reply"}
      -@topic.children.each do |@post|
        = haml :post
      
%br.cl

:javascript
  $(document).ready(function(){
    $(".colored-box:not(.yellow)").live("click", function(){
      $(".response").hide();
      $("#r" + $(this).attr("id")).show();
      $("#r" + $(this).attr("id")).find(".content").focus();
    });
    
    
    $(".response").live("submit", function(){
      var formData = $(this).serialize();
      $(this).hide();
      $.post("/ajax/add-post", formData);
      return false;
    });
    
    $('.reply').live("click", function(){
      return true;
    });
  });
  
  function addPost(parentID, content){
    $("<div>"+content+"</div>").hide().insertAfter("#r"+parentID).fadeIn(300);
  }
  pusher = new Pusher('84d6245235e5b198d8aa', '#{@topic.id}');
  pusher.bind('addPost', function(data) {
    addPost(data.parentID, data.content);
  });