.container_12
  -@events.each do |event|
    .split-box
      .left
        %a.name{:href => "/event/#{event.permalink}"}= truncate(event.name, 20)
        %small{:style => "display: block;"}= Time.at(event.date).strftime("%b %e %l:%M%p")
      .right
        = truncate(event.description, 50)
        %p
          -if event.date > Time.now.to_i
            %b Attending:
          -else
            %b Attended by
          -if event.attendee_ids.length > 2
            #{event.attendee_ids.length} people.
          -event.attendees.each do |user|
            %a{:href => "/user/#{user.permalink}"}= user.name
        
%br.cl
