#page-header
  %h1 Events
.container_12
  -Event.all.sort_by{|e| Time.parse(e.date)}.each do |event|
    .grid_4
      .box-header
        %a.name{:href => "/event/#{event.permalink}"}
          %b= event.name
        %small= Time.parse(event.date).strftime("%b %d %I:%M%p")
      .box
        = event.description
        %p
          %b Attending:
          -event.attendees.each do |user|
            %a{:href => "/user/#{user.permalink}"}= user.name
%br.cl