%h1 Hello, World!

%p 1. Mike
%p 2. Kellene
%p 3. Andre
%p 4. Johnny
%p 5. Corey
%p 6. Dex (Is terrible)


.lists{:style => "margin-top: 50px;"}
  .users
    %h3 Users
    %ul
      -User.all.each do |user|
        %li= user.name
  .classes
    %h3 Courses
    %ul
      -Course.all.each do |course|
        %li= course.name
  .topics
    %h3 Topics
    %ul
      -Topic.all.each do |topic|
        %li= topic.title
  .posts
    %h3 Posts: #{Post.count}
  .events
    %h3 Events
    %ul
      -Event.all.each do |event|
        %li= event.name
    
    
