#page-header
  %h1= @user.name
.container_12
  .grid_3
    .box-header Your Events
    .box
      -if @user.events.empty?
        %p
          No Events.
      -else
        -@user.events.each do |event|
          %p
            %b= Time.parse(event.date).strftime("%b %d")
            @ #{event.location} -
            %a{:href => "/event/#{event.permalink}"}
              = event.name
      %br.cl
  .grid_9
    -@events = @user.events
    =haml :calendar
    %br.cl
  .grid_12
    .box-header Your Discussions
    .box
      -@user.topics.reverse[0..5].each do |topic|
        .grid_12
          .box-header
            %a.name{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold'}= topic.title
            %span{:style => "margin-left: 10px;"}
              %a.name{:href => "/user/#{topic.creator.permalink}"}= topic.creator.name
              %small= topic.time_since

          .box          
            .colored-box.brown.head
              = topic.content
            %a{:href => "/discussion/#{topic.permalink}", :style => 'font-weight: bold;'} View Discussion
      %br.cl
  %br.cl
  

