!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/jqui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %title Class Axis
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/excanvas.js", :type => "text/javascript"}
    %script{:src => "/js/visualize.jQuery.js", :type => "text/javascript"}
    %script{:src => "/js/functions.js", :type => "text/javascript"}
    %script{:src => "/js/views/layout.js", :type => "text/javascript"}
    %script{:src => "http://js.pusherapp.com/1.6/pusher.min.js", :type => "text/javascript"}
  %body
    #page-wrapper
      .page
        -@user.broadcast_ids.map{|b_id| Broadcast.get(b_id)}.each do |broadcast|
          .notification{:class => broadcast.type}
            = broadcast.content.gsub("^^name^^", @user.name)
            .close{:id => broadcast.id}
              
        
        .page-content
          .spinner
          .init-selected{:style => "display: none;"}= @selected
          .header-box= @selected
          .top-navigation
            %a.icon.no-select#home home
            %a.icon.no-select#discussions discussions
            %a.icon.no-select#groups groups
            %a.icon.no-select#events events
            %a.icon.no-select#messages messages
          .secondary-container
            .secondary-navigation
              #shome.hidden
                .secondary-row.no-select#profile{:href => "/ui/profile"}
                  Profile
                  .page-title Profile
                .secondary-row.no-select#news.selected{:href => "/ui/news"}
                  Recent News
                  .page-title
                    Recent News
                    
              #sgroups.hidden
                .secondary-row
                  %input.search-field{:placeholder => "find group"}
                -@groups.each do |group|
                  .secondary-row.no-select{:id => group.id, :href => "/ui/group/#{group.permalink}"}
                    = truncate(group.name, 13)
                    .page-title= group.name
                  
                .secondary-row.no-select{:href => "/ui/groups"}
                  %b Browse Groups
                  .page-title Browse Groups
              #sevents.hidden
                .secondary-row
                  %input.search-field{:placeholder => "find event"}
                -@events.reverse[0..9].each do |event|
                  .secondary-row.no-select{:id => event.id, :href => "/ui/event/#{event.permalink}"}
                    = truncate(event.name, 15)
                    .fr{:style => "color: #999"}= event.fuzzy_date
                    .page-title= event.name
                    
                -if @events.count > 9
                  .secondary-row.no-select{:href => "/ui/events?page=2"}
                    %em Past Events
                    .page-title Past Events
              #sdiscussions.hidden
                .secondary-row
                  %input.search-field{:placeholder => "find discussion"}
                -@discussions[0..9].each do |topic|
                  .secondary-row.no-select{:id => topic.id, :href => "/ui/discussion/#{topic.permalink}"}
                    = topic.title
                    .page-title= topic.title
                  
                -if @discussions.count > 9
                  .secondary-row.no-select{:href => "/ui/discussions?page=2"}
                    %em Older Discussions
                    .page-title Old Discussions
              #smessages.hidden
                .secondary-row
                  %input.search-field{:placeholder => "find message"}
                -@messages.each_pair do |sender_id, messages|
                  -sender = User.get(sender_id)
                  .secondary-row.no-select{:id => sender.id, :href => "/ui/messages/with/#{sender.id}"}
                    = truncate(sender.name, 13)
                    .page-title Conversation with #{sender.name}
                    .fr{:style => "color: #999"}= messages.first.time_since
            .selected-content
              =yield
          %br.cl
        
      .footer
        Copyright ©2011 Class Axis