!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/jqui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/autoSuggest.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    
    %title Class Axis
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/excanvas.js", :type => "text/javascript"}
    %script{:src => "/js/visualize.jQuery.js", :type => "text/javascript"}
    %script{:src => "/js/functions.js", :type => "text/javascript"}
    
    
    %script{:src => "/js/jquery.autoSuggest.packed.js", :type => "text/javascript"}
    
    %script{:src => "/js/views/layout.js", :type => "text/javascript"}
    -users = User.all.delete_if{|u| u.id == @user.id}.map{|user| "{value: '#{user.id}', name: '#{user.name}'}"}.join(",")
    :javascript
      var thing;
      $(document).ready(function(){
        var data = {items: [
        #{users}
        ]};
        $("input").autoSuggest(data.items, {selectedItemProp: "name", searchObjProps: "name", selectionAdded: function(elem){
          var index = parseInt($(elem).attr('id').charAt($(elem).attr('id').length-1));
        }});
        
      });
      
    
    %script{:src => "http://js.pusherapp.com/1.6/pusher.min.js", :type => "text/javascript"}
  %body
    #page-wrapper
      .page
        -@user.broadcast_ids.map{|b_id| Broadcast.get(b_id)}.each do |broadcast|
          .notification{:class => broadcast.type}
            = broadcast.content.gsub("^^name^^", @user.name)
            .close{:id => broadcast.id}
        .page-content
          .spinner
          .init-selected{:style => "display: none;"}= @selected
          .header-box= @selected
          .top-navigation
            //%a.icon.no-select#home home
            %a.icon.no-select#discussions discussions
            //%a.icon.no-select#groups groups
            //%a.icon.no-select#events events
            %a.icon.no-select#messages messages
          .secondary-container
            .secondary-navigation
              -if false
                #shome.hidden
                  .secondary-row.no-select#profile{:href => "/ui/profile"}
                    Profile
                    .page-title Profile
                  .secondary-row.no-select#news{:href => "/ui/news"}
                    Recent News
                    .page-title Recent News
                  .secondary-row.no-select#upcoming.selected{:href => "/ui/upcoming"}
                    This Week
                    .page-title This Week
                #sgroups.hidden
                  = haml :group_sidebar, :layout => false
                #sevents.hidden
                  = haml :event_sidebar, :layout => false
              #sdiscussions.hidden
                = haml :discussion_sidebar, :layout => false
              #smessages.hidden
                = haml :message_sidebar, :layout => false
            .selected-content
              =yield
          %br.cl
        
      .footer
        Copyright ©2011 Class Axis