!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/jqui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %title Class Axis
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/excanvas.js", :type => "text/javascript"}
    %script{:src => "/js/visualize.jQuery.js", :type => "text/javascript"}
    %script{:src => "/js/functions.js", :type => "text/javascript"}
    %script{:src => "/js/views/layout.js", :type => "text/javascript"}
    %script{:src => "http://js.pusherapp.com/1.6/pusher.min.js", :type => "text/javascript"}
  %body
    #page-wrapper
      .page
        -@user.broadcast_ids.map{|b_id| Broadcast.get(b_id)}.each do |broadcast|
          .notification{:class => broadcast.type}
            = broadcast.content.gsub("^^name^^", @user.name)
            .close{:id => broadcast.id}
              
        
        .page-content
          .spinner
          .init-selected{:style => "display: none;"}= @selected
          .header-box= @selected
          .top-navigation
            %a.icon#home home
            %a.icon#discussions discussions
            %a.icon#groups groups
            %a.icon#events events
            %a.icon#messages messages
          .secondary-container
            .secondary-navigation
              #shome.hidden
                .secondary-row#profile{:href => "/ui/profile"}
                  Your Profile
                .secondary-row#news.selected{:href => "/ui/news"}
                  Recent News
              #sgroups.hidden
                -@groups.each do |group|
                  .secondary-row{:id => group.id, :href => "/ui/group/#{group.permalink}"}= group.name
                .secondary-row{:href => "/ui/browse-groups"}
                  %b Browse Groups
              #sevents.hidden
                -@events[0..9].each do |event|
                  .secondary-row{:id => event.id, :href => "/ui/event/#{event.permalink}"}= event.name
                -if @events.count > 9
                  .secondary-row{:href => "/ui/events?page=2"}
                    %em Older Events
              #sdiscussions.hidden
                -@discussions[0..9].each do |topic|
                  .secondary-row{:id => topic.id, :href => "/ui/discussion/#{topic.permalink}"}= topic.title
                -if @discussions.count > 9
                  .secondary-row{:href => "/ui/discussions?page=2"}
                    %em Older Discussions
              #smessages.hidden
                -@messages[0..9].each do |message|
                  .secondary-row{:id => message.id, :href => "/ui/message/#{message.id}"}
                    = message.subject
                    .fr{:style => "color: #999"}= message.time_since
                -if @discussions.count > 9
                  .secondary-row{:href => "/ui/messages?page=2"}
                    %em Older Messages
            .selected-content
              =yield
          %br.cl
        
.footer
  Copyright ©2010 Class Axis
