#page-header
  %h1 Messages
.container_12
  
  .grid_12
    .box-header
      %h2 Received
    .box
      -@user.messages.each do |message|
        .message{:class => ("new" if message.unread)}
          %h4
            %small.fr
              #{Time.at(message.date).strftime("%b %e %l:%M%p")} from
              -sender = User.get(message.sender_id)
              %a{:href => "/user/#{sender.permalink}"}= sender.name
          %p= message.content

  
  .grid_12
    .box-header
      %h2 Sent
    .box  
      -@user.sent_messages.each do |message|
        .message
          %h4
            %small.fr
              #{Time.at(message.date).strftime("%b %e %l:%M%p")} to
              -receiver = User.get(message.receiver_id)
              %a{:href => "/user/#{receiver.permalink}"}= receiver.name
          %p= message.content
%br.cl
     
