.secondary-row-nohover.no-select
  &nbsp;
  .new-button.flush-right.browse-rooms Find a Room
  .new-button.flush-left.new-room New Room
-@rooms.sort_by{|r| -r.last_message.date}.each do |room|
  .secondary-row.no-select{:id => room.id, :href => "/ui/room/#{room.id}"}
    .badge-holder
      -if rand(2) == 1
        .badge.yellow= 88
      -else
        .badge.clear &nbsp;
    = truncate(room.name, 20)
    .page-title= room.name
    .fr{:style => "color: #999"}
      = room.last_message.short_date
      

:javascript
  $(document).ready(function(){
    $("#smessages").children(".secondary-row").first().click();
    var modal = $(".modal");
    $(".new-room").click(function(){
      $(".modal-new").show();
      showModal();
    });
    $(".browse-rooms").click(function(){
      $(".modal-browse").show();
      showModal();
    });
    $(".shroud").click(function(){
      hideModal();
    });
  });
  function showModal(){
    $(".shroud").fadeIn(100);
    $(".modal-border").fadeIn(100);
    $(".modal").fadeIn(100);
  }
  
  function hideModal(){
    $(".shroud").fadeOut(50);
    $(".modal-border").fadeOut(50);
    $(".modal").fadeOut(50, function(){
      $(".modal-new").hide();
      $(".modal-browse").hide();
    });
  }
  
  $(document).keydown(function(e){
    if (e.keyCode == 27){ //escape
      hideModal();
    }
  });