.colored-box{:id => @post.id, :class => (@new_post ? "green" : "gray")}
  .date.hidden= @post.date
  %h3{:style => "color: #777; margin-bottom: 0;"}
    %a.name{:href => "/user/#{@post.creator.permalink}"}= @post.creator.name
    %small
      = @post.time_since
    %a{:href => "/post/#{@post.permalink}"} &infin;
  =@post.content
  
.indent
  %form.response.colored-box.yellow{:style => "display: none;", :id => "r" + @post.id}
    %input{:type => "hidden", :name => 'parent_id', :value => @post.id}
    %textarea.content{:style => "width: 97%; height: 75px", :name => 'content'}
    %br
    %input.awesome.blue.medium.reply{:type => "submit", :value => "Reply"}
  -@post.children.each do |@post|
    = $rendered_posts[@post.id] ||= haml :post, :layout => false