#page-header
  %h1= @selected_user.name
.container_12
  .grid_4
    .box-header
      %b Info
    .box          
      %h3 Joined Class Axis #{@selected_user.member_since}
  .grid_4
    .box-header
      %b Courses
    .box          
      -@selected_user.courses.each do |course|
        %h3
          %a{:href => "/course/#{course.permalink}"}= course.name
  .grid_4
    .box-header
      %b Groups
    .box          
      -@selected_user.groups.each do |group|
        %h3
          %a{:href => "/group/#{group.permalink}"}= group.name
  .grid_6
    .box-header
      %b Discussions Created
    .box          
      -@selected_user.topics.reverse.each do |topic|
        .colored-box.blue
          %a.name{:href => "/discussion/#{topic.permalink}", :style => "font-size: 1.3em"}= topic.title
          %small= topic.time_since
          %br
          %span{:style => "color: #666"}= topic.content
  .grid_6
    .box-header
      %b Posts
    .box          
      -@selected_user.posts.reverse.each do |post|
        .colored-box.blue
          %a.name{:href => "/discussion/#{post.topic.permalink}", :style => "font-weight: bold;"}= post.topic.title
          %small= post.time_since
          %br
          %a.name{:href => "/post/#{post.permalink}", :style => "font-size: 1.3em"}= post.content
%br.cl